{% extends './frontoffice/layout.html.twig' %}

{% block content %}
    <div class="container mb-3 p-5">
        <h2 class="mb-5">Politiques de confidentialité</h2>
        <p class="fw-bold">
            Date de début de validité : 13/07/2022
        </p>
        <p>
            L'entreprise à responsabilité limitée COGNOSPHERE (ci-après désignée « COGNOSPHERE », « nous », « notre », «
            nos ») reconnaît et accorde de la valeur au respect de la vie privée des personnes (ci-après désignées «
            vous », « votre », « vos ») qui visitent nos sites internet et qui font usage de nos jeux (ci-après désignés
            « jeux COGNOSPHERE ») sur PC, plateformes mobiles ou autres plateformes approuvées et/ou autre usage ou
            accès à nos services, notamment logiciels, service client, service marketing et publicité et autres services
            relatifs à la communauté de joueurs COGNOSPHERE (ci-après désignés « Services COGNOSPHERE » ou « nos
            services »).
        </p>
        <p>
            L'âge minimum légal pour la création d'un compte utilisateur HoYoverse (ci-après désigné « Compte ») est de
            13 ans. Certains pays ou plateformes imposant un âge de consentement différent pour la collecte de données
            personnelles, COGNOSPHERE recommande fortement qu'un parent ou un tuteur donne son consentement pour toute
            création de Compte ainsi que pour la collecte d'informations personnelles.
        </p>
        <p>
            Cette Politique de confidentialité s'applique à l'ensemble des Services COGNOSPHERE, et décrit pourquoi et
            comment nous collectons, conservons et utilisons vos informations personnelles, ainsi que vos droits et
            choix relatifs auxdites informations. En visitant nos sites internet ou en utilisant nos services, vous
            reconnaissez et confirmez avoir lu, compris et accepté les conditions énoncées ci-après. Vous reconnaissez
            et comprenez que tout désaccord avec la présente Politique de confidentialité peut entraîner des anomalies
            de fonctionnement de certaines fonctions de base des jeux COGNOSPHERE, et influer sur votre expérience de
            jeu.
        </p>
        <p>
            En cas de fusion, rachat, restructuration ou autre événement similaire, nous ferons au préalable une annonce
            et publierons les détails et informations ayant trait à l'entité nous succédant. Vos informations seront
            transmises au dit successeur avec votre consentement explicite et/ou celui de votre parent et/ou de votre
            tuteur légal. COGNOSPHERE continuera de modifier, d'ajuster et de réviser les conditions de la présente
            Politique de confidentialité ; vous reconnaissez et convenez prendre connaissance régulièrement des
            conditions mises à jour. En cas de modifications majeures apportées à la présente Politique de
            confidentialité, nous communiquerons à ce propos au préalable, et lesdites conditions mises à jour seront de
            nouveau soumises à votre consentement (et/ou celui de votre parent et/ou de votre tuteur légal).
        </p>
        <p class="fw-bold">
            1. Les informations que nous collectons et traitons
        </p>
        <p>
            Les informations et données personnelles désignent l'ensemble des informations qui permettent de vous
            identifier, telles que votre adresse e-mail, votre adresse de contact, votre code postal, vos informations
            de localisation, votre titre, votre profession, vos centres d'intérêt et toute autre information nous ayant
            été communiquée avec votre consentement.
        </p>
        <p class="fw-bold">
            (1) Les informations que nous collectons (directement ou via un tiers)
        </p>
        <p>
            i. Informations de création de Compte : informations de Compte HoYoverse, incluant pseudonyme, adresse
            e-mail, mot de passe et codes de vérification. Nous utilisons les informations résultant de votre
            inscription pour vous créer un Compte dédié à l'utilisation de nos produits, conserver vos données et votre
            progression de jeu, analyser et adapter nos services d'administration du système, et vous proposer des
            services de qualité en accord avec les articles 2(2) et 2(9) de cette Politique de confidentialité («
            Pourquoi nous collectons vos informations personnelles, et comment elles sont utilisées »), sur la base
            juridique d'un contrat de service établi entre vous et nous.
        </p>
        <p>
            ii. Date de naissance. Conformément aux dispositions légales ayant cours, nous ne collectons cette
            information que lorsqu'elle est donnée de manière volontaire de votre part, avec votre consentement
            explicite (ci-après désigné « consentement », « consentez », « confirmez », « acceptez »), et en accord avec
            l'article 2(4), afin de vérifier votre âge. Cette information est considérée comme critère de référence,
            COGNOSPHERE étant dans l'impossibilité d'en vérifier l'authenticité.
        </p>
        <p>
            iii. Numéro de téléphone ou adresse e-mail. Nous ne collectons ces informations en accord avec les articles
            2(1) et 2(8) que lorsqu'elles sont données avec votre consentement afin d'associer votre Compte au numéro de
            téléphone et/ou adresse e-mail correspondants. Ces informations servent notamment lors de la connexion à nos
            jeux, pour les mises à jour de nos services, pour la réception de code de vérification par SMS ou e-mail,
            pour le changement de mot de passe, etc.
        </p>
    </div>
{% endblock %}