{% extends './frontoffice/layout.html.twig' %}

{% block content %}
    <div class="container mb-3 p-5">
        {% include './components/_flashes.html.twig' %}
        <h2>Inscription</h2>
        {% include './frontoffice/components/form/_formRegister.html.twig' %}
    </div>
{% endblock %}