{% extends './frontoffice/layout.html.twig' %}

{% block content %}
    <div class="container mt-4 mb-4">
        {% include './frontoffice/components/article/_displayForArticleDetail.html.twig' %}
        {% include './frontoffice/components/article/_paginateNextPreviousForArticleDetail.html.twig' %}
        <hr class="mb-3">
{#        ne pas affiché si not user #}
        {% include './frontoffice/components/form/_formAddComment.html.twig' %}
    </div>
{% endblock %}