{% extends './frontoffice/layout.html.twig' %}
{% block content %}
    <div class="container mt-4 mb-4">
        <h2 class="border-5 border-bottom border-dark pb-2">Dernières publications</h2>
        <section class="container mt-3">
            <div class="row">
                {% for article in articles %}
                    {% include 'frontoffice/components/home/_lastArticle.html.twig' %}
                {% endfor %}
            </div>
        </section>
        <section class="mt-5 mb-5">
            <h2 class="border-5 border-bottom border-dark pb-2 mt-4 mb-4">Nous contacter</h2>
            {% include 'frontoffice/components/home/_formContact.html.twig' %}
        </section>
    </div>
{% endblock %}


