{% extends './frontoffice/layout.html.twig' %}

{% block content %}
    <div class="container mb-3 p-5">
        <h2>Se connecter</h2>
        {% include 'frontoffice/components/form/_formLogin.html.twig' %}
    </div>
{% endblock %}