<hr class="mb-3">
<h2>Voulez-vous ajouter un commentaire ?</h2>
<form method="post">
    <div class="row">
        <div class="mb-3 col-12">
            <label for="message" class="form-label">
            </label>
            <textarea class="form-control" id="commentaire" rows="3" name="commentaire" placeholder="Votre commentaire"></textarea>
        </div>
        <input type="hidden" name="user" value="{{ article.user.id }}">
        <input type="hidden" name="article" value="{{ article.id }}">
        <div class="col-12 mt-3 text-end">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </div>
    </div>
</form>