<form action="" method="post">
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="nom" class="form-label">
                Nom
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="nom" placeholder="Votre nom" required>
        </div>
        <div class="mb-3 col-12 col-md-4">
            <label for="prenom" class="form-label">
                Prénom
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="prenom" placeholder="Votre prénom" required>
        </div>
        <div class="mb-3col-12 col-md-4">
            <label for="email" class="form-label">
                Email
                <span class="text-danger">*</span>
            </label>
            <input type="email" class="form-control" id="email" placeholder="Votre email" required>
        </div>
        <div class="mb-3 col-12">
            <label for="message" class="form-label">
                Contenu
                <span class="text-danger">*</span>
            </label>
            <textarea class="form-control" id="message" rows="3" placeholder="Votre message" required></textarea>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="confidentialite" required>
                <label class="form-check-label" for="confidentialite">
                    Veuillez accepter nos politiques de confidentialité <span class="text-danger">*</span>
                </label>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </div>
    </div>
</form>