<article class="border-2 border-bottom border-dark mt-3 mb-3 pb-3 pt-3">
    <h3 class="text-warning">{{ article.title }}</h3>
    <p class="mt-2">{{ article.chapo }}</p>
    <div class="d-flex justify-content-between align-items-center">
                    <span class="text-black-50">
                        Publié par {{ article.user.pseudo }} le {{ article.createdAt|date("d/M/Y") }}
                    </span>
        <a href="#" class="btn btn-primary ml-1">Voir le détail</a>
    </div>
</article>