{% extends './backoffice/layout.html.twig' %}

{% block content %}
    <h2 class="border-5 border-bottom border-dark pb-2" id="articles">Listes des commentaires en attente de validation</h2>
    {% if comments is not null %}
    {% include './components/_flashes.html.twig' %}
    {% include './backoffice/components/comment/_commentsTable.html.twig' %}
    {% include './components/pagination/_pagination.html.twig' %}
    {% else %}
        <h4 class="text-center mt-5">Aucun commentaire à valider pour le moment.</h4>
    {% endif %}
{% endblock %}