<div class="modal-container">
    <div class="overlay modal-trigger"></div>
    <div class="modal-window">
        <h2 class="mb-5" id="modal-title-text"></h2>
        <p id="modal-question-text"></p>
        <div class="modal-div-button">
            <form name="formModal" method="POST">
                <button class="btn btn-primary modal-trigger">Annuler</button>
                <button class="btn btn-primary" id="button-submit">Oui, je valide</button>
                <input type="hidden" id="typeAction" name="typeAction">
                <input type="hidden" name="token" value="{{ token }}">
            </form>
        </div>
    </div>
</div>