<div class="container">
    <footer class="bg-black text-white text-center" id="lien">
        <div class="my-3 mx-0">
            <a href="https://github.com/genesis59" class="mx-3" target="_blank">
                <img src="/images/octocat-github.png" alt="logo gitlab" width="48">
            </a>
            <a href="https://www.linkedin.com/in/grégory-vandevraye/" class="mx-3" target="_blank">
                <img src="/images/logo-linkedin.png" alt="logo gitlab" width="48">
            </a>
            <a href="https://gitlab.com/gvandevray" class="mx-3 box-center" target="_blank">
                <img src="/images/logo-gitlab.png" alt="logo gitlab" width="48">
            </a>
        </div>
        <div class=" text-center mt-2">
            icon by <a target="_blank" href="https://icons8.com" class="text-white-50">Icons8</a>
            <p>©2022 Copyright : Grégory Vandevraye</p>
        </div>
    </footer>
    <div id="footer"></div>
</div>
