<header class="masthead">
    <div class="container text-white">
        <div class="masthead-heading text-uppercase">GRÉGORY VANDEVRAYE</div>
        <div class="masthead-subheading">
            <p>Besoin d'un développeur back-end,</p>
            <p>c'est votre jour de chance, je suis là pour vous.,</p>
        </div>
        <a href="/cv/CV_VANDEVRAYE_GREGORY.pdf" target="_blank" class="cv-button btn btn-dark btn-lg mt-5 text-white">Télécharger mon CV</a>
    </div>
</header>
